img {
width: 300px;
}

body {
	background-color: #FFFCF2;
	font-family: 'Open Sans', sans-serif;
}

/* Home Page*/

h1 {
color: #252422;
text-align: center;
padding: 30px 0px 30px 0px;
}

h2 {
color: #EB5E28;
padding: 40px 0px 0px 2px;
}

h3 {
color: #403D39;

}

ul {
	page-break-after: 0px;
}
.topnav {
	text-align:center;
	
}

.topnav a {
	text-decoration: none;
	color: 252422;
    padding: 10px 20px 11px 20px;
    border-bottom: 3px solid orange;
    margin: 10px;
    font-weight: bold;
}

.call-to-action {
	color: #FFFCF2;
	background-color: #EB5E28;
	padding: 5px;
	text-decoration: none;
	box-shadow: 4px 2px 8px 0px #888888;
}
	

td {
	padding: 10px;
	background-color: #CCC5B9;
}

button {
	color: #FFFCF2;
	background-color: #eb5e28;
	width: 100%;
}

/* Column Layout */

.col30 {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding: 10px 0px 0px 20px;
	margin-top: 50px;
}

.col50 {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding: 20px;
	margin-top: 50px;
}

.col70 {
	width: 70%;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding: 20px;
	margin-top: 50px;
	border-right: 3px solid #CCC5B9;
}

/* Product */

img.hero {
	width: 100%;

}


.divider {
	border-right: 5px solid orange;
	display: inline-block;
	padding-right: 30px;
	margin-left: 0;
}

.border {
	border-bottom: 5px solid orange;
	border-color: CCC5B9;
	display: inline-block;
	padding: 0px 35px 0px 0px;
}

.thumbnails img {
    width: 141px;
}
.thumbnails li {
    display: inline-block;
    margin-right: 10px;
}

.thumbnails {
    padding: 0px;
}

.thumbnails li:last-child {
	margin-right: 0;
}

.price {
	font-weight: bold;
	font-size: 28px;
}

.product {
	width: 100%;
}

/* Shopping Cart */


ul {
	padding-left: 0px;
}

h3.h3border {
border-bottom: 5px solid orange;
display: inline-block;
padding: 0px 35px 12px 0px;
}

td.cart {
    background-color: #FFFCF2;
    text-align: center;
}

th.cart {
    text-align: left;
       padding: 10px 20px 10px 20px;
       border-bottom: 2px solid orange;
}

li {
    padding: 15px 0px 0px 0px;
}

td.cart.img {
    text-align: left;
    width: 20px;
}

h4.cart {
    margin: 11px 0px 5px 0px;
}

p.cart {
    margin: 0px;
    font-size: 15px;
}

/* Bootstrap */
.btn-primary:hover, 
.btn-primary {

	color: #FFFCF2;
	background-color: #EB5E28;
	border-color: #EB5E28;
}

.btn-primary:hover {
	
}

